<header class="p-3 mb-3 border-bottom">
  <div class="container">


    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="navbar">
        <a href="#" class="navbar-brand"><span class="fs-4">Recipe Book</span></a>
      </div>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-xl-5 link-secondary">Recipes</a></li>
        <li><a href="#" class="nav-link link-secondary">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav ms-auto">
        <li class="dropdown text-end">
          <a href="#" class="dropdown-toggle nav-link px-2 link-secondary" role="button">Manage <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>


<!--class="collapse navbar-collapse"-->
